<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptime monitoring of HTTP/HTTPS sites. When your site goes down, we'll send you a text to let you know. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugiat adipisci inventore saepe est consequatur corrupti in minima delectus laboriosam minus soluta asperiores, consequuntur maxime sequi facilis aperiam molestiae hic?</div>

<div class="ctaWrapper">
  <a class="cta green" href="/acount/create">Get Started</a>
  <a class="cta blue" href="/session/create">Login</a>
</div>